.cartPage {
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartPage__singleProduct {
  width: 80%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin: 1rem 2rem;
}

.cartPage__singleProduct div {
  margin: 0.2rem;
}
.cartPage__singleProduct div img {
  width: 100%;
  min-width: 50px;
  max-width: 80px;
}

.cartPage__singleProduct button {
  margin-top: 0.4rem;
  border: none;
  background-color: red;
  color: white;
  padding: 0.4rem 1rem;
}

.totalCart {
  margin-top: 0.4rem;
  border: none;
  color: black;
  background-color: transparent;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
}

.cartPage h2 {
  margin-top: 1rem;
}

.cartPage a {
  margin-top: 1rem;
}

@media (min-width: 570px) {
  .cartPage__singleProduct {
    grid-template-columns: repeat(5, 1fr);
  }
  .cartPage__singleProduct div {
    margin: 0.6rem;
  }

  .totalCart {
    margin-top: 3rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 700px) {
  .cartPage__singleProduct {
    grid-template-columns: repeat(6, 1fr);
  }
}
