.card-item-detail {
  margin: 0 auto;
  padding: 3rem 2rem;
  max-width: 850px;
}

.card-item-detail .brand {
  margin-bottom: 1rem;
}

.card-item-detail .img-and-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-item-detail .img-and-description-box img {
  max-width: 200px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.card-item-detail .img-and-description-box p {
  width: 50%;
  margin-bottom: 0.5rem;
}

.card-item-detail .price button {
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  margin: 0 auto;
  border: none;
  display: block;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 550px) {
  .card-item-detail .img-and-description-box {
    flex-direction: row;
    gap: 2rem;
  }
}
