.cardItemDetail {
  margin: 0 auto;
  padding: 3rem 1.6em;
  max-width: 850px;
}

.cardItemDetail .brand {
  text-align: center;
}

.cardItemDetail .imgAndDescriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.cardItemDetail .imgAndDescriptionBox img {
  max-width: 200px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.cardItemDetail .imgAndDescriptionBox p {
  width: 60%;
  margin-bottom: 0.5rem;
}

.cardItemDetail .price button {
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  margin: 0 auto 1rem auto;
  border: none;
  display: block;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.itemDetailCheckout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemDetailCheckout a {
  text-align: center;
  width: 60%;
  border-radius: 5px;
  margin: 0.2rem;
  border: none;
  background-color: red;
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 550px) {
  .cardItemDetail .imgAndDescriptionBox {
    flex-direction: row;
    gap: 2rem;
  }
}
