.counter {
  margin: 1rem auto 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter__counterOperations {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 1rem auto;
}
.counter__counterOperations h1 {
  padding: 0 2rem;
  font-size: 1.6rem;
}
.counter__operation {
  font-size: 1rem;
  border: none;
  background-color: red;
  padding: 0.3rem 0.6rem;
  color: white;
  border-radius: 45px;
  cursor: pointer;
}

.counter__addToCart {
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  margin: 0 auto;
  border: none;
  display: block;
  border-radius: 5px;
  background-color: rgb(232, 0, 0);
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
