.top-grid-products-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 0 auto 3rem auto;
}

.top-grid-products-container .card {
  border: 1px solid rgb(232, 232, 232);
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 180px;
  width: 100%;
  position: relative;
}

.top-grid-products-container .card .discount {
  position: absolute;
  top: 10px;
  background-color: red;
  padding: 0.2rem 0.4rem;
  color: white;
}

.top-grid-products-container .card .action-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.top-grid-products-container .card .action-buttons p i {
  color: rgb(41, 41, 41);
  margin-right: 0.5rem;
}

.top-grid-products-container .card .info p {
  margin-bottom: 0.4rem;
}

.top-grid-products-container .card .info .brand {
  font-size: 0.9rem;
  color: gray;
}

.top-grid-products-container .card .info .model {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.top-grid-products-container .card .info .prices {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Crimson Text", serif;
}

.top-grid-products-container .card .info .prices p {
  margin-right: 0.4rem;
}

.top-grid-products-container .card div .priceBefore {
  color: gray;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.top-grid-products-container .card img {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  margin-bottom: 0.4rem;
}

@media (min-width: 380px) {
  .top-grid-products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-grid-products-container .card {
    max-width: 200px;
    width: 100%;
  }
}

@media (min-width: 730px) {
  .top-grid-products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
