.title {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem auto;
  font-weight: bold;
  text-transform: uppercase;
  background-color: red;
  padding: 0.6rem;
  width: fit-content;
  color: white;
}

.fa-arrow-right {
  margin-left: 0.2rem;
}

.uppercase {
  font-size: 0.74rem;
  text-transform: uppercase;
}

.hotDealsCarousel {
  max-width: 600px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.hotDealsCarousel .card img {
  width: 200px;
  transform: scale(0.8);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
}

.hotDealsCarousel .card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hotDealsCarousel .card:hover img {
  transform: scale(0.9);
}

.hotDealsCarousel .card .info {
  margin: 1rem 0 0 1rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.hotDealsCarousel .card .info p {
  margin-bottom: 0.8rem;
}

.hotDealsCarousel .card::after {
  content: "";
  position: absolute;
  margin: 0.2rem;
  top: 0;
  bottom: 0%;
  width: 55%;
  background-color: red;
  opacity: 0.9;
}
