.section-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(57, 57, 57);
  margin-bottom: 0.6rem;
}

.top-product-section {
  margin-top: 4rem;
  width: 90%;
}

.top-product-section .top {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto 2rem auto;
}

.top-product-section .categories {
  display: flex;
}
.top-product-section .categories li {
  margin-right: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.top-product-section .categories li:hover {
  color: red;
}

@media (min-width: 500px) {
  .top-product-section .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .top-product-section .categories li {
    font-size: 1rem;
  }
}
