.this-week-off {
  text-align: center;
  padding: 3rem 1rem;
  margin-bottom: 3rem;
  max-height: 500px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(78, 78, 78);
}

.this-week-off .info-primary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.this-week-off .info-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.this-week-off button {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border: none;
  padding: 0.6rem 1.6rem;
  background-color: red;
  color: white;
  border-radius: 25px;
}
