.header {
  background-color: #15161d;
  color: white;
  padding: 1.5rem 0;
  border-bottom: solid red 3px;
  display: flex;
  flex-direction: column;
}

.header a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

h1 span {
  color: red;
}

.cartLogoMenu {
  display: flex;
  justify-content: center;
}

.cartLogoMenu div {
  padding: 0 1rem;
  text-align: center;
}

.cartLogoMenu div p {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.cartLogoMenu i {
  cursor: pointer;
}

.cartLogoMenu .cart {
  position: relative;
}

.cartLogoMenu .cart .cart-quantity {
  color: red;
  position: absolute;
  top: -25%;
  left: 66%;
}

.navBar {
  font-size: 0.9rem;
  background-color: #15161d;
  position: absolute;
  top: 0;
  left: -130%;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.navBar.active {
  left: 0;
  transition: all 0.2s ease-in-out;
}

.navBar ul {
  margin-top: 3rem;
  padding: 0 1.4rem;
}

.navBar ul a {
  display: block;
  margin: 1rem 2rem 1rem 0;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  color: white;
}

.navBar ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width 0.2s ease;
}

.navBar ul a:hover::after {
  width: 100%;
  left: 0;
  background: red;
}

.navBar ul a.current {
  border-bottom: 2px solid red;
  color: red;
}

.navBarWide {
  display: none;
}

@media (min-width: 600px) {
  .menuIcon {
    display: none;
  }
  .navBarWide {
    display: block;
    border-bottom: rgb(221, 221, 221) solid 3px;
  }
  .navBarWide ul {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navBarWide ul a {
    margin: 1rem 2rem 1rem 0;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: black;
  }

  .navBarWide ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.4px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: red;
    transition: all 0.2s ease;
  }

  .navBarWide ul li:hover::after {
    width: 100%;
    left: 0;
    background: red;
  }

  .navBarWide ul li:hover {
    color: red;
  }

  .headerWide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .headerWide i {
    font-size: 1.3rem;
  }
}
