.header {
  background-color: #15161d;
  color: white;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  border-bottom: solid red 3px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header a {
  text-decoration: none;
  color: white;
}

.header__logo {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.header__logo span {
  color: red;
}

.header__cartLogoMenu {
  display: flex;
  justify-content: center;
}

.header__cartLogoMenu .cart {
  padding: 0 1rem;
  text-align: center;
  margin: 0 auto;
}

.header__cartLogoMenu i {
  cursor: pointer;
}

.header__cartLogoMenu .fa-cart-shopping {
  position: relative;
}

.header__cartLogoMenu .cart .cartQuantity {
  color: red;
  position: absolute;
  top: -50%;
  left: 130%;
  font-size: 0.65rem;
}

.header__cartLogoMenu .cartIconStatus {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.navBar {
  font-size: 0.9rem;
  position: absolute;
  width: 100%;
  top: -150%;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}

.navBar.active {
  top: 102%;
  transition: all 0.2s ease-in-out;
}

.navBar.active header {
  padding-bottom: 9rem;
}

.navBar ul {
  background-color: rgb(48, 11, 11);
  padding: 0 1.4rem;
}

.navBar ul a {
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  color: white;
}

.navBar ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width 0.2s ease;
}

.navBar ul a:hover::after {
  width: 100%;
  left: 0;
  background: red;
}

.navBar ul a.current {
  border-bottom: 2px solid red;
  color: red;
}

.header__menuIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__cartLogoMenu {
    display: block;
  }

  .header__menuIcon {
    display: none;
  }

  .navBar {
    top: unset;
    position: relative;
    width: fit-content;
  }

  .navBar ul {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navBar ul a {
    text-align: center;
    padding: 0.5rem 0;
    margin: 0 0.4rem;
    font-size: 1.1rem;
  }

  .header__cartLogoMenu .cart .cartQuantity {
    font-size: 0.7rem;
  }

  .cartIconStatus {
    font-size: 0.9rem;
  }
}
